* {
    /* background:#f3f3f3; */
    margin: 0px;
    padding:0px;
}
.header {
    background: #f3f3f3;
    /* text-align: center; */
    box-shadow: 3px 3px 8px black;
    margin-top:0px;

    div {
        // height: 80px;
        width:80%;
        margin: 0 auto;

        ul {
            list-style: none;
            padding:10px 0 10px 0;

            li {
                display: inline-block;
                padding-right: 20px;

                
                a.brand {
                    font-size: 30px;
                }
                a {
                    text-decoration: none;
                    font-size: 20px;
                }
            }
        }
    }
}

.container .main{
    width:100%;
    // background:yellow;
    overflow: hidden;
    margin-top: 20px;

    .menu {
        width:20%;
        float: left;
        margin-right: 10px;
        background:red;
    }
    .content {
        width:60%;
        float: left;
        background:yellow;
    }
    .aside {
        width:20%;
        float: right;
        background:blue;
    }
    
}