* {
  /* background:#f3f3f3; */
  margin: 0px;
  padding: 0px;
}
.header {
  background: #f3f3f3;
  /* text-align: center; */
  box-shadow: 3px 3px 8px black;
  margin-top: 0px;
}
.header div {
  width: 80%;
  margin: 0 auto;
}
.header div ul {
  list-style: none;
  padding: 10px 0 10px 0;
}
.header div ul li {
  display: inline-block;
  padding-right: 20px;
}
.header div ul li a.brand {
  font-size: 30px;
}
.header div ul li a {
  text-decoration: none;
  font-size: 20px;
}
.container .main {
  width: 80%;
  background: #a39595;
  margin: 20px auto 80px auto;
  box-shadow: 10px 10px 15px black;
  border-radius: 10px;
}
.container .main article {
  padding: 20px;
  border-bottom: solid 2px black;
}
.container .main article h2 a {
  text-decoration: none;
  color: black;
}
.container .main article div.article-info {
  padding-top: 10px;
}
.container .main article div.article-info span {
  font-style: italic;
  padding-right: 10px;
}
.container .main article div.article-info span a {
  text-decoration: none;
}
.container .main article p {
  margin-top: 10px;
  text-indent: 2em;
}
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background: gray;
  text-align: center;
}
.footer p {
  padding: 15px;
}
